@mixin principal-banner {
  background-color: #00D3DE;
  min-height: 85px;
  padding: 11px 15px;
}


@mixin logo {
  width: 200px;
  display: inline;
  a.logo img{
    width: 51px;
    padding-top: 0;
    float: left;
  }
  a.brand{
    color: #00D3DE;
    padding: 0;
    width: auto;
    float: none;
    margin: 0 0 0 3px;
    font-size: 23px !important;
    font-family: $corporate-font-family-sans-serif-Regular;
    display: inline-block;
    font-weight: normal !important;
    padding: 7px 0px 0px 0px;
    font-size: 26px;
    span{
      color: #002d67 !important;
    }

    h6{
      margin: 0;
      font-size: 13px
    }
  }
  a.brand:hover{
    text-decoration: none;
  }
}