
/* WORDPRESS
-------------------------------------------------- */
.wp-example1{
  padding-bottom: 160%;
}

.wp-example2{
  padding-bottom: 183%;
}
.wp-example3 {
padding-bottom: 93%;
}
.wp-example4 {
padding-bottom: 77%;
}

#twitter-wp .bs-docs-example {
  min-height: 382px;
}

.wp-image.fade.in {
  top: 1%;
  left: 1%;
  width: 98%;
  right: 1%;
  height: 98%;
  margin-left: 0;
}

.wp-image.fade.in .modal-body {
  position: relative;
  max-height: 95%;
  padding: 15px;
  overflow-y: auto;
}

.wp-image.fade.in .modal-body img {
  margin: 0 auto;
  width: 996px;
}

.wp-image.fade.in .modal-header h3 {
  display: inline;
}

.wp-image.fade.in .modal-header h6 {
  display: inline-block;
}