/************* typography*******/


@font-face {
  font-family: "NeoTechRegular";
  font-style: normal;
  src: url('FI-WARE_style_guide/fonts/FI-WARE/neotech/regular/neotechstd-regular.eot');
    src: url('FI-WARE_style_guide/fonts/FI-WARE/neotech/regular/neotechstd-regular.eot') format('embedded-opentype'),
         url('FI-WARE_style_guide/fonts/FI-WARE/neotech/regular/neotechstd-regular.woff') format('woff'),
         url('FI-WARE_style_guide/fonts/FI-WARE/neotech/regular/neotechstd-regular.ttf') format('truetype'),
         url('FI-WARE_style_guide/fonts/FI-WARE/neotech/regular/neotechstd-regular.svg#NeoTechStdMedium') format('svg');
}


@font-face {
  font-family: "NeoTechMedium";
  font-style: normal;
  src: url('FI-WARE_style_guide/fonts/FI-WARE/neotech/medium/neotechstd-medium.eot');
    src: url('FI-WARE_style_guide/fonts/FI-WARE/neotech/medium/neotechstd-medium.eot') format('embedded-opentype'),
         url('FI-WARE_style_guide/fonts/FI-WARE/neotech/medium/neotechstd-medium.woff') format('woff'),
         url('FI-WARE_style_guide/fonts/FI-WARE/neotech/medium/neotechstd-medium.ttf') format('truetype'),
         url('FI-WARE_style_guide/fonts/FI-WARE/neotech/medium/neotechstd-medium.svg#NeoTechStdMedium') format('svg');
}

@font-face {
  font-family: "Desyrel";
  font-style: normal;
  src: url('FI-WARE_style_guide/fonts/FI-WARE/desyrel/desyrel.eot');
    src: url('FI-WARE_style_guide/fonts/FI-WARE/desyrel/desyrel.eot') format('embedded-opentype'),
         url('FI-WARE_style_guide/fonts/FI-WARE/desyrel/desyrel.woff') format('woff'),
         url('FI-WARE_style_guide/fonts/FI-WARE/desyrel/desyrel.ttf') format('truetype'),
         url('FI-WARE_style_guide/fonts/FI-WARE/desyrel/desyrel.svg#desyrel') format('svg');
}