html,
body{
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0px;
}

.uppercase{
  text-transform: uppercase;
}

.nav > li a,
.navbar-inner a,
.pager > li a,
.btn,
.accordion-heading > a,
.logo-header a,
.dropdown-menu li a,
.breadcrumb a,
.page-header a,
a.list-group-item{
  text-decoration: none;
}