/* go to top page */
#scrollUp {
  bottom: 24px;
  right: 30px;
  @include opacity (.5);
  @media (max-width: $screen-xs-max){
    left: 92%;
  }
  i{
    color: #00D3DE !important;
  }
}

#scrollUp:hover {
  text-decoration: none;
  -moz-opacity:1;
  -webkit-opacity:1;
  opacity:1;
}

#scrollUp .icon-2x {
  font-size: 34px;
}
